<html>
    <head>
        <title>Ola's blog</title>
		
    </head>
<body>
    <p>Hi there!</p>
    <p>It works!</p>
</body>
</html>

<html>
	
    <head>
        <title>Django Girls blog</title>
		
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
			<h1><a href="/">MattyICEcommit</a></h1>
        </div>

        {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
	{% endfor %}
    </body>
</html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | New Unity Project test</title>
    <link rel="shortcut icon" href="TemplateData/favicon.ico">
    <link rel="stylesheet" href="TemplateData/style.css">
    <script src="TemplateData/UnityProgress.js"></script>  
    <script src="Build/UnityLoader.js"></script>
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "Build/webPageTest.json", {onProgress: UnityProgress});
    </script>
  </head>
  <body>
    <div class="webgl-content">
      <div id="gameContainer" style="width: 960px; height: 600px"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">New Unity Project test</div>
      </div>
    </div>
  </body>
</html>